[submodule "third_party/convnet-benchmarks"]
	path = qa/third_party/convnet-benchmarks
	url = https://github.com/soumith/convnet-benchmarks
	branch = master
[submodule "third_party/tensorflow_models"]
	path = qa/third_party/tensorflow_models
	url = https://github.com/tensorflow/models
	branch = master
[submodule "nvidia-examples/OpenSeq2Seq"]
	path = nvidia-examples/OpenSeq2Seq
	url = https://github.com/NVIDIA/OpenSeq2Seq
[submodule "third_party/horovod"]
	path = third_party/horovod
	url = git@gitlab-dl.nvidia.com:nluehr/horovod.git
